@charset "UTF-8";

#top {
    color: cadetblue;
}

#movie {
    text-align: center;
    color: cornflowerblue;
}

#easy {
    color: rgb(230, 65, 188);
}

h1 {
    text-align: center;
}

#question {
    text-align: center;
    background-color: chartreuse;
}

#quis {
    text-align: center;
}

#photo {
    text-align: center;
}

footer {
    text-align: center;
}